body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  width: 45%; /* 名前と金額の枠を調整 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  text-align: center;
  margin-top: 20px; /* ボタンの上の余白追加 */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #87CEFA; /* 薄い水色 */
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

#results {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #999;
}
